.App-header {
  background-color: rgb(18, 18, 69);
  min-height: 10px;
  display: flex;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: center;
}

.container {
  background-color: whitesmoke;
  margin-top: 30px;
}
.input-box input {
  margin: 0;
  font-family: "fantasy";
  font-size: 24px;
  padding: 0;
  height: 50px;
  width: 300px;
  border-radius: 5%;
}

.input-box button {
  padding: 0;
  margin: 25px;
  background-color: rgb(18, 18, 69);
  color: white;
  font-size: 24px;
  padding: 10px;
  height: 50px;
  width: 100px;
  border-radius: 10%;
}
.card {
  text-align: center;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}
.card-title {
  padding-left: 15px;
}
.card-image {
  width: 100%;
}
